@charset "utf-8";

.story {
    position: relative;
    text-align: center;
  }
  
.story img{
    width: 100%;
    height: 750px;
    padding-bottom: 25px;
    opacity: 45%;
}

.border{
    width: 80%;
    height: 3px;
    background: #383838;
    margin: 10px auto;
}

.text{
    position: absolute;
    top: 30%;
    left: 22%;
    transform: translate(-50%, -50%);
}

.story h1{
    text-align: center;
    font-size: 50px;
    font-weight: 1200;
    font-family: 'Russo One', sans-serif;
    color: rgb(70, 0, 86);
    text-decoration: underline;
    
}

.story p{
    font-size: 25px;
    line-height: 1.5;
    color: rgb(70, 0, 86);
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    text-align: center;
}


.row {
    display: flex;
    justify-content: center;
}

.col {
    width: 33.33%;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 50px;
}

.col h1{
    font-size: 45px;
    color: red;
    font-weight: 1200;
    font-family: 'Russo One', sans-serif;
    margin-bottom: -30px;
}

.story2 p{
    font-size: 16px;
    color: rgb(70, 0, 86);
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.team{
    background-color: rgb(241, 239, 239);
    padding-top: 40px;
    margin-bottom: -50px;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
}

.col2 {
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}

.team img{
    height: 80%;
    width: 100%;
    display: block;
    
}

.team h1{
    font-size: 35px;
    font-weight: 1200;
    font-family: 'Russo One', sans-serif;
    color: rgb(70, 0, 86);
    margin-top: 0;
    text-decoration: underline;
}

.team p{
    font-size: 16px;
    color: rgb(70, 0, 86);
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.mission{
    width: 100%;
    background-color: rgb(237, 224, 240);
    padding-top: 20px;
}

.row3 {
    align-items: center;
    justify-content: center;
    display: flex;
}

.col3{
    width: 50%;
}

#img1{
    height: 270px;
    width: 50%;
    border-radius: 30px;
    margin-left: 27%;
}

#img2{
    height: 270px;
    width: 50%;
    border-radius: 30px;
    margin-left: 27%;
}

.mission h1{
    font-size: 35px;
    font-weight: 1200;
    font-family: 'Russo One', sans-serif;
    color: rgb(70, 0, 86);
    margin-top: 0;
    text-decoration: underline;
    text-align: center;
}

.mission ul{
    font-size: 16px;
    color: rgb(70, 0, 86);
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    margin-left: 25%;
}


.flow{
    font-family: "Inter", sans-serif;
    max-width: 100%;
    padding: 2rem 1.5rem;
    margin: 0 auto;
    color: #241623;
    background: #eef2f4;
  }
  
.flow h1 {
    font-weight: 900;
    font-size: 2.7rem;
    color: rgb(70, 0, 86);
    font-family: 'Russo One', sans-serif;
    text-align: center;
  }
  
.flow p {
    font-size: 16px;
    color: rgb(70, 0, 86);
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }

#occupation{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
  
.flow a {
    color: currentcolor;
  }
  
  /* Utilities */
  .auto-grid {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--auto-grid-min-size, 18.7rem), 1fr)
    );
    grid-gap: var(--auto-grid-gap, 0);
    padding: 0;
  }
  
  .flow > * + * {
    margin-top: var(--flow-space, 1em);
  }
  
  /* Composition */
  .team {
    --flow-space: 2em;
  }
  
  /* Blocks */
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    aspect-ratio: 1/1;
    position: relative;
    padding: 1.5rem;
    color: #ffffff;
    backface-visibility: hidden;
    text-decoration: none;
    overflow: hidden;
  }
  
  .profile::before,
  .profile::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    /*inset: 0;*/
    top: 0;
    left: 0;
  }
  
  .profile::before {
    background: linear-gradient(
      to top,
      hsla(0, 0%, 0%, 0.79) 0%,
      hsl(0 0% 0% / 0.787) 5.2%,
      hsl(0 0% 0% / 0.779) 9.5%,
      hsl(0 0% 0% / 0.765) 12.8%,
      hsl(0 0% 0% / 0.744) 16.4%,
      hsl(0 0% 0% / 0.717) 19.5%,
      hsl(0 0% 0% / 0.683) 23.5%,
      hsl(0 0% 0% / 0.641) 27.2%,
      hsl(0 0% 0% / 0.592) 29.1%,
      hsl(0 0% 0% / 0.534) 31.9%,
      hsl(0 0% 0% / 0.468) 35%,
      hsl(0 0% 0% / 0.393) 39.6%,
      hsl(0 0% 0% / 0.31) 40.5%,
      hsl(0 0% 0% / 0.216) 45.2%,
      hsl(0 0% 0% / 0.113) 47.8%,
      hsla(0, 0%, 0%, 0) 50%
    );
    transition: 300ms opacity linear;
  }
  
  .profile::after {
    background: linear-gradient(
      45deg,
      hsl(5 97% 63% / 0.7) 0,
      hsl(5 97% 63% / 0) 100%
    );
    opacity: 0;
    transition: 300ms opacity linear;
  }
  
  .profile{
    z-index: 1;
  }
  
  .profile img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: -1;
    object-fit: cover;
    filter: grayscale(1);
    transition: filter 200ms ease, transform 250ms linear;
  }
  
  .profile h2,
  .profile p {
    transform: translateY(2ex);
  }
  
  .profile h2 {
    font-size: 1.7rem;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.03ch;
    transition: 300ms transform ease;
    color: rgb(207, 129, 224);
  }
  
  .profile p {
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .profile p {
    opacity: 0;
    transition: 300ms opacity linear, 300ms transform ease-in-out;
  }
  
  .profile:focus {
    outline: 0.5rem solid white;
    outline-offset: -0.5rem;
  }
  
  .profile:hover :is(h2, p),
  .profile:focus :is(h2, p) {
    transform: none;
  }
  
  .profile:hover::after,
  .profile:focus::after,
  .profile:hover::before,
  .profile:focus::before {
    opacity: 0.2;
  }
  
  .profile:hover p,
  .profile:focus p {
    opacity: 1;
    transition-delay: 200ms;
  }
  
  .profile:hover img,
  .profile:focus img {
    filter: grayscale(0);
    transform: scale(1.05) rotate(1deg);
  }
